.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--font-weight-medium);
  border-radius: var(--radius-sm);
  color: var(--color-text-on-primary);
}

.badge--sm {
  font-size: var(--font-size-sm);
  padding: 2px var(--space-sm);
}

.badge--md {
  font-size: var(--font-size-md);
  padding: var(--space-sm) var(--space-md);
}

.badge--primary {
  background-color: var(--color-primary);
}

.badge--danger {
  background-color: var(--color-danger);
}

.badge--neutral {
  background-color: var(--color-neutral);
}

.badge--success {
  background-color: var(--color-success);
}